<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h1>Score</h1>

      <h3>YOUR GUESS: <%= @guess %> </h3>
      <h4>Time taken: <%= @result[:time] %></h4>
      <h4>Your socre: <%= @result[:score] %></h4>
      <h4>Message: <%= @result[:message]%></h4>

      <%= link_to 'Play again!', game_path %>
    </div>
  </div>
</div>
